<!-- nav -->

<!--
<nav class="tabs" mat-tab-nav-bar>
  <a mat-tab-link #rla="routerLinkActive" routerLinkActive [active]="rla.isActive" [routerLink]="['/']"> Home

  </a>
  <a mat-tab-link #rla="routerLinkActive" routerLinkActive [active]="rla.isActive" [routerLink]="['/trade']">
    Open Account
  </a>
  <a mat-tab-link #rla="routerLinkActive" routerLinkActive [active]="rla.isActive" [routerLink]="['/trade']">
    Trade
  </a>
  <a mat-tab-link #rla="routerLinkActive" routerLinkActive [active]="rla.isActive" (click)="logout()">
    Logout
  </a>
</nav>

-->


<mat-toolbar class="toolbar">
  <button class="toolbar__icon-button" mat-icon-button [matMenuTriggerFor]="test">       
     <mat-icon>menu</mat-icon>
  </button>

  <div class="toolbar__logo-title-group"
       fxLayout
       fxLayoutAlign="center center">                         
     <a routerLink="/"                                        
        fxLayout>
      <img class="toolbar__logo"
           src="/assets/logo.svg"
           >
    </a>
    <a class="toolbar__title"                                 
        routerLink="/">QuickTrade</a>
  </div>


  <div fxFlex></div>                                          


  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #test="matMenu">
  <button mat-menu-item>
    <mat-icon>Trade</mat-icon>
    <span>Trade</span>
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>About</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Services</span>
  </button>
  <button mat-menu-item>
    <mat-icon>contacts</mat-icon>
    <span>Contact</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>

  </button>
</mat-menu>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <trd-alert></trd-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>